<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget</title>
  </head>
  <body>
    <h1>Masukkan email untuk mengganti kata sandi</h1>
    <form method="post" action="/api/forget">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
      <button type="submit">Lupa Password</button>
    </form>
  </body>
</html>
