<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form method="post" action="/api/login">
      <h1>Login</h1>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button type="submit">Submit</button>
    </form>
    <h1>Lupa Password? <a href="/forget">klik link berikut</a></h1>
  </body>
</html>
